*.log*                                                                                                                                       
*.pot                                                                                                                                        
*.py[co]                                                                                                                                     
*.sublime-*                                                                                                                                  
*.swp                                                                                                                                        
src/reports                                                                                                                                  
src/coverage                                                                                                                                 
src/.coverage                                                                                                                                
src/.noseids                                                                                                                                 
src/coverage.xml                                                                                                                             
src/nosetests.xml                                                                                                                            
src/export                                                                                                                                   
settings_local.py                                                                                                                            
*media*                                                                                                                                      
*envnfse*                                                                                                                                    
*openssl*                                                                                                                                    
*aws_perm*                                                                                                                                   
.vagrant*                                                                                                                                    
*stunnel*                                                                                                                                    
*run_https_server*                                                                                                                           
*CACHE*                                                                                                                                      
.vagrant*                                                                                                                                    
*celerybeat*                                                                                                                                 
*newrelic_localhost*                                                                                                                         
src/app/api/v1/docs/_build/                                                                                                                  
src/app/api/v2/docs/_build/                                                                                                                  
src/certificates                                                                                                                             
src/nfse                                                                                                                                     
envemites                                                                                                                                    
envvagrant                                                                                                                                   
dump_emites.json    
tmp
